.select2-container{
    margin: 0px !important;
}

.file-field .btn{
    height:30px !important;
    margin-bottom: 30px;
}

.file-field input[type=file] {
    bottom: -30px !important;
}


.select2-results__options li{
    font-size: small !important;
}

.input-field>label{
    font-size: .8rem !important;
}
